body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    max-width: 1200px;
    padding: 20px;
}

.card {
    background-color: #fff5e1;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 225px; /* Larghezza ridotta per far stare tutte le card in una riga */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20px; /* Aggiunto margine inferiore per evitare sovrapposizione */
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Assicura che il contenuto occupi l'intera larghezza della card */
    box-sizing: border-box;
}

.card h3 {
    margin: 0;
    font-size: 20px; /* Ridotto leggermente il font-size */
    color: #4d4d4d;
}

.card p {
    margin: 5px 0;
    color: #4d4d4d;
}

.prezzo {
    font-size: 18px; /* Ridotto leggermente il font-size */
    font-weight: bold;
    align-self: flex-end; /* Allinea il prezzo a destra */
    margin-top: auto; /* Spinge il prezzo verso il basso */
}

button {
    background-color: #ffcc00;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e6b800;
}
